<script src="/js/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="/js/cufon-yui.js" type="text/javascript"></script>
<script src="/js/cufon-replace.js" type="text/javascript"></script> 
<script src="/js/Good_Vibes_Pro_400.font.js" type="text/javascript"></script>
<script src="/js/FF-cash.js" type="text/javascript"></script>  
<script src="/js/jquery.equalheights.js" type="text/javascript"></script>    
<script src="/js/jquery.bxSlider.js" type="text/javascript"></script> 
<script type=/"text/javascript">
    $(document).ready(function() {
        var slider = $('#slider').bxSlider({
            pager: false,
            controls: true,
            infiniteLoop: false,
            displaySlideQty: 3,
            prevText: 'НАЗАД',
            nextText: 'ВПЕРЕД',
            onNextSlide: function(currentSlideNumber, totalSlideQty, currentSlideHtmlObject){
                if(currentSlideNumber >= totalSlideQty-2){
                    slider.goToFirstSlide() ;
                }
            }
        });
        if(slider.getSlideCount() < 4){
            $('.bx-next').css("display", "none");
            $('.bx-prev').css("display", "none");
        }
    });  
</script>
<!--[if lt IE 8]>
<div style=' clear: both; text-align:center; position: relative;'>
    <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
        <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
    </a>
</div>
<![endif]-->
<!--[if lt IE 9]>
    <script type="text/javascript" src="js/html5.js"></script>
<![endif]-->

<section id="content">
    <div class="main">
        <div class="wrapper">
            <article class="col-1">
                <div class="indent-left">
                    <div class="img-indent-bot">
                        <h3 class="prev-indent-bot">Специальные предложения</h3>
                        <div class="wrapper img-indent-bot">
                            <figure class="img-indent"><img src="<%= @special_offer.image.url(:medium) %>" alt=""></figure>
                            <div class="extra-wrap">
                                <h5><%= @special_offer.name %></h5>
                                <%= @special_offer.annotation %>
                            </div>
                        </div>
                        <a class="button-1" href="<%= menu_special_offers_path %>">Узнать больше</a>
                    </div>
                    <h3 class="p1" style="width: 100%;">Наши лучшие блюда</h3>
                    <div id="slider">
                    <% i = 0; while i < @best_dishes.size do %>
                        <div>
                            <div class="p2">
                                <figure><a href="<%= catalog_show_path(@best_dishes[i].id) %>"><img src="<%= @best_dishes[i].image.url(:thumb) %>" alt=""></a></figure>
                                <h5><%= @best_dishes[i].name %></h5>
                                (Цена: <%= @best_dishes[i].price %> грн./<%= @best_dishes[i].portion %>)
                            </div>
                            <% if i + 1 < @best_dishes.size %>
                            <div class="p2">
                                <figure><a href="<%= catalog_show_path(@best_dishes[i+1].id) %>"><img src="<%= @best_dishes[i+1].image.url(:thumb) %>" alt=""></a></figure>
                                <h5><%= @best_dishes[i+1].name %></h5>
                                (Цена: <%= @best_dishes[i+1].price %> грн./<%= @best_dishes[i+1].portion %>)
                            </div>
                            <% end %>
                            <% if i + 2 < @best_dishes.size %>
                            <figure><a href="<%= catalog_show_path(@best_dishes[i+2].id) %>"><img src="<%= @best_dishes[i+2].image.url(:thumb) %>" alt=""></a></figure>
                            <h5><%= @best_dishes[i+2].name %></h5>
                            (Цена: <%= @best_dishes[i+2].price %> грн./<%= @best_dishes[i+2].portion %>)
                            <% end %>
                        </div>
                    <% i += 3; end %>
                    </div>
                </div>
            </article>
            <article class="col-2">
                <h3>Прайс лист</h3>
                <ul class="price-list p2">
                <% @dishes.each do |dish| %>
                  <li><span><%= dish.price %> грн.</span><a href="<%= catalog_show_path(dish.id) %>"><%= dish.name %></a></li>
                <% end %>
                </ul>
                <a class="button-2" href="<%= catalog_path %>">Узнать больше</a>
            </article>
        </div>
    </div>
</section>
